.bundle
log/*
tmp/*
config/database.yml
config/twitter.yml
config/aws.yml
.bundle/*
.sass-cache/
.DS_Store
*~
*.autosave
*.swp
*.swo
.idea/*
public/images/cache/*
public/stylesheets/.sass-cache
public/assets/
public/promotion_images/
dumps/*
/nbproject/
public/system
.watchr
solr/data/*
solr/log/*
solr/pids/*
